.task-container {
    cursor: pointer;
    position: relative;
    top: 0;
    margin-top: 0rem;
    margin-left: 6rem;
    margin-right: 20%;
    padding: 2rem;
    border-radius: 40px;
    margin-bottom: 0;
    transition: all 0.5s ease-in-out;
    max-height: 90px; 
    padding-top: 0rem;
    overflow: hidden;
    background-color: #F3B95F;
    box-shadow: 5px 5px 0 black;
}

.task-container:hover {
    max-height: 500px; 
    -webkit-backdrop-filter: blur(30%);
    backdrop-filter: blur(20px);
    box-shadow: 7px 7px 0 rgb(34, 34, 34);
}

.title>h1{
    font-weight: 300;

}

.delete {
    cursor: pointer;
    margin-top: 0.75rem;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid red;
    background: transparent;
    color: red;
    transition: all 0.3s ease-in-out; 
}

.delete:hover {
    background-color: red;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 0 black;
}
