.navbar-container {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5% 0;
  z-index: 100;
  transition: all 0.3s;
  animation: topIn 1s ease-in-out 0.5s  forwards;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}

.nav-dark {
  background-color: #4D869C;
  color: white;
}

.dark {
  color: white;
}

.navbar-user {
  padding: 1%;
}

.navbar-user>h1 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  color: white;
}

.navbar-button {
  display: flex;
  align-self: center;
  gap: 5px;
  padding: 0 1%;
  padding-right: 3%;
}

.nav-btn {
  font-size: 1.25rem;
}

.link {
  align-self: center;
  color: white;
  width: 65px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.home-text {
  display: none;
}

.guide-text {
  display: none;
}


.guide {
  &:hover {
    .guide-text {
      display: block;
    }

    .guide-nav {
      display: none;
    }
  }
}

.home {
  &:hover {
    .home-text {
      display: block;
    }

    .home-nav {
      display: none;
    }
  }

}

.signout {
  cursor: pointer;
  background: transparent;
  padding: 3% 6%;
  font-size: 0.75rem;
  border: 2px solid #F3F7EC;
  color: #F3F7EC;
  border-radius: 10px;
  margin: 0 2%;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-radius: 20px;
    background-color: #F3F7EC;
    color: black;
    box-shadow: 3px 3px 0 black;
  }
}

@keyframes topIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  100%{
    opacity: 1;
  }
}